*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Body */
body {
    background: #EBECF0;
}

.start_btn,
.info_box,
.quiz_box{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

/* Start Quiz Button Styling */
.start_btn button{
    font-size: 25px;
    font-weight: 500;
    color: #740001;
    padding: 15px 30px;
    outline: none;
    border: 1px solid #740001;
    border-radius: 5px;
    background: #EBECF0;
    cursor: pointer;
}

/* Start Info Box Styling */
.info_box{
    display:none;
    width: 740px;
    background: #fff;
    border-radius: 5px;;
}

.info_box .info_title{
    height: 50px;
    width: 100%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
    padding: 0 35px;
    font-size: 20px;
    font-weight: 600;
}

.info_box .info_list{
    padding: 20px 50px;
}

.info_box .info_list .info{
    margin: 5px 0;
    font-size: 17px;
}


.info_box .info_list .info span{
    font-weight: 600;
    color: #740001;
}

.info_box .buttons{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 10px;
    border-top: 1px solid lightgray;
}

.info_box .buttons button{
    margin: 0 10px;
    height: 40px;
    width: 100px;
    border: 1px solid #740001;
    border-radius: 5px;
    color: #740001;
    font-size:20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.buttons button.quit{
    color: #740001;
    border-color: #740001;
    background: white;
}

.buttons button.quit:hover{
    background: lightpink;
}

.buttons button.restart:hover{
    background: lightgreen;
}

.buttons button.restart{
    color: #1A472A;
    border-color: #1A472A;
    background: white;
}

/* Start Quiz Box Styling */
.quiz_box{
    width: 550px;
    background: #fff;
    border-radius: 5px;
}

.quiz_box header{
    height: 70px;
    padding: 0 30px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
}

.quiz_box header .title{
    font-size: 20px;
    font-weight: 500;
    padding-right: 50px;
}

.quiz_box header .timer{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
    height: 45px;
    background: #cce5ff;
    border: 1px solid #b8daff;
    border-radius: 5px;
    padding: 0 8px 0 10px;
}